.character-detail-card {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-card-header {
  padding-bottom: 35px;
}

mat-card-subtitle {
  color: #858585;
}

/* Contenedor principal (dos columnas) */
.character-detail-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* Columna izquierda más pequeña, derecha más grande */
  gap: 3rem;
  /* Espacio entre columnas */
}

/* Columna izquierda: Imagen del personaje */
.character-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-image {
  max-width: 100%;
  border-radius: 8px;
}

/* Columna derecha: Información del personaje */
.character-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Espacio entre elementos */
}

/* Información del planeta */
.planet-info {
  display: flex;
  align-items: center;
  /* Alinea el texto y la imagen verticalmente */
  gap: 0.5rem;
  /* Espacio entre el texto y la imagen */
}

.planet-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Transformaciones */
.transformations ul {
  list-style-type: none;
  /* Quita los puntos de la lista */
  padding: 0;
  margin: 0;
}

.transformations li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Espacio entre el texto y la imagen */
  margin-bottom: 0.5rem;
  /* Espacio entre elementos de la lista */
}

.transformation-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  /* Ajusta la imagen sin deformarla */
  object-position: top;
}


/* Estilos para el botón de volver atrás */
.back-button {
  position: absolute;
  top: 100px;
  left: 16px;
  z-index: 1;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
