<mat-toolbar color="primary">
  <span *ngIf="isLoggedIn && userName">{{'HI' | translate}} {{ userName }}</span>
  <span *ngIf="!isLoggedIn">Appinit</span>

  <span class="spacer"></span> <!-- Espacio entre elementos -->

  <!-- Botón para cambiar el idioma -->
  <span class="nav-span" (click)="changeLanguage()" [title]="getLanguageText() | translate">
    {{ getLanguageText() | translate }}
  </span>
  <!-- Botón para cerrar sesión (solo visible si hay sesión) -->
  <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()" title="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
