<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Correo es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Ingrese un correo válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
         Contraseña es requerida
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
